<h1> S03 T01: Estructura de dades </h1>

<h2> Nivell 1 </h2>

<h3> Exercici 1 </h3>

In [21]:
T1 = ["Enero","Febrero","Marzo"]
T2 = ["Abril","Mayo","Junio"]
T3 = ["Julio","Agosto","Septiembre"]
T4 = ["Octubre","Noviembre","Diciembre"]

Tanual = [T1,T2,T3,T4]

print(Tanual)

[['Enero', 'Febrero', 'Marzo'], ['Abril', 'Mayo', 'Junio'], ['Julio', 'Agosto', 'Septiembre'], ['Octubre', 'Noviembre', 'Diciembre']]

<h3> Exercici 2 </h3>

* **El segundo mes del primer trimestre**

In [2]:
print(T1[1])

Febrero

* **Els mesos del primer trimestre**

In [3]:
for mes in T1:
    print(mes)

Enero
Febrero
Marzo

In [4]:
tList= [mes for mes in T1]
print(tList)

['Enero', 'Febrero', 'Marzo']

* **Setembre i octubre**

In [5]:
print(T3[2],T4[0])

Septiembre Octubre

<h3> Exercici 3 </h3>

Crea una llista amb nombres desordenats i respon a les seguents preguntes:

In [6]:
listNum = [3,4,11,34,55,67,21,83,94,62,12,23,76,46]

* **Quants números hi ha?**

In [7]:
lList = len(listNum)
print(lList)

14

In [8]:
counter = 0
for i in range(len(listNum)):
    counter = counter + 1
print(str(counter))

14

* **Quantes vegades apareix el número 3 ?**

In [9]:
contador = 0 
for x in listNum:
    if x == 3:
        contador = contador + 1
        print(contador)

1

* **Quantes vegades apareixen els nombres 3 i 4?**

In [10]:
contador = 0 
for x in listNum:
    if (x == 3 or x == 4):
        contador = contador + 1
print(contador)

2

* **Quin és el número més gran?**

In [11]:
max_value = max(listNum)
print(max_value)

94

* **Quins són els 3 números més petits?**

In [12]:
min_value = min(listNum)
print(min_value)

3

* **Quin és el rang d’aquesta llista?**

In [13]:
range = max_value - min_value
print(range)

91

<h3> Exercici 4 </h3>

In [14]:
compra = { "Uva" : {"Qty": 12, "€": 1.45}, "Manzana" : {"Qty": 3, "€": 1.97}, 
          "Piña" : {"Qty": 2, "€": 2.91}, "Mango" : {"Qty": 1, "€": 1.8 }, 
          "Naranja" : {"Qty": 8, "€": 2.9}, "Pera" : {"Qty": 3, "€": .66 }}

print(compra)

{'Uva': {'Qty': 12, '€': 1.45}, 'Manzana': {'Qty': 3, '€': 1.97}, 'Piña': {'Qty': 2, '€': 2.91}, 'Mango': {'Qty': 1, '€': 1.8}, 'Naranja': {'Qty': 8, '€': 2.9}, 'Pera': {'Qty': 3, '€': 0.66}}

* **Afegeix alguna fruita més**

In [15]:
compra["Guayaba"]={"Qty":5, "€": 2.6}
print(compra)

{'Uva': {'Qty': 12, '€': 1.45}, 'Manzana': {'Qty': 3, '€': 1.97}, 'Piña': {'Qty': 2, '€': 2.91}, 'Mango': {'Qty': 1, '€': 1.8}, 'Naranja': {'Qty': 8, '€': 2.9}, 'Pera': {'Qty': 3, '€': 0.66}, 'Guayaba': {'Qty': 5, '€': 2.6}}

* **Quant han costat les peres en total ?**

In [16]:
qty = compra["Pera"]["Qty"]
preu = compra["Pera"]["€"]
totalPera = qty*preu

print("El costo total de la pera es: ",totalPera)

El costo total de la pera es:  1.98

* **Quantes fruites hem comprat en total ?**

In [17]:
t = 0
for key, q in compra.items():
    t = compra[key]["Qty"] + t

print(t)

34

* **Quina és la fruita més cara?**

In [33]:
print(max(compra.items(), key=lambda x: x[1]['€'])[0])

Piña